body {
    margin: 0px;
    text-align: center;
    color: #575245;
    background-color: #fffdfa;
}

h1 {
    margin: 10% auto 0 auto;
    font-size: 5.625em;
    font-family: 'Pacifico', cursive;

}

h1, h2 {
    color: #ed6e51;
}

h2 {    
    font-weight: normal;
    font-size: 2.5rem;
}


h3, a {
    color: #5fc1c7;
}

h2, p {
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #f8f3ec;
    border-width: 8px;
    height: 0px;
    width: 4rem;
}

.profile {
    position: relative;
    width: 25%;
    overflow: hidden;
    margin: 5rem auto;
}

.profile img {
    border-radius: 15%;
    width: 50%;
}

.profile p {
    text-align: center;
    font-size: 1.2rem;
}

.top-container {
    background-color: #99e9ee;
    padding-top: 5px;
    position: relative;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #73888a;
    padding: 50px 0 20px;
}

.bottom-container a {
    
    padding: 40px 0;
    color: #5fc1c7;
    font-size: 20px;
    text-decoration: none;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
}

.bottom-container a:hover {
    color: #fff5e0;
}

.bottom-container p {
    color: #fff5e0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    float: right 50%;
}

.bottom-container img {
    width: 3rem;
    display: inline-block;
}

.underline {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 20%;
    width: 15%;
    min-width: 300px;
    margin-top: 3em;
}
.bottom-cloud {
    position: absolute;
    left: 20%;
    width: 13%;
}

.mountain {
    width: 45%;
    margin-top: 9%;
    margin-bottom: -1%;
}

.skills {
    margin: 5rem auto;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
}

.oyako {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.sansaido {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.harimaya {
    width: 100%;
}


.skill-row h3, p {
    line-height: 2;
    text-align: left;
    display: block;
}

.spacer {
    margin-top: 15%;
    padding-top: 2%;
}

.contact-me {
    margin: 5rem auto;
    width: 33%;
}

.contact-me p {
    text-align: center;
    line-height: 2;
    margin: 40px auto 60px;
}

.butn {
    background: #7dd6db;
    background-image: -webkit-linear-gradient(top, #7dd6db, #5fc1c7);
    background-image: -moz-linear-gradient(top, #7dd6db, #5fc1c7);
    background-image: -ms-linear-gradient(top, #7dd6db, #5fc1c7);
    background-image: -o-linear-gradient(top, #7dd6db, #5fc1c7);
    background-image: linear-gradient(to bottom, #7dd6db, #5fc1c7);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .butn:hover {
    background: #99e9ee;
    background-image: -webkit-linear-gradient(top, #99e9ee, #7dd6db);
    background-image: -moz-linear-gradient(top, #99e9ee, #7dd6db);
    background-image: -ms-linear-gradient(top, #99e9ee, #7dd6db);
    background-image: -o-linear-gradient(top, #99e9ee, #7dd6db);
    background-image: linear-gradient(to bottom, #99e9ee, #7dd6db);
    text-decoration: none;
  }

  .copyright {
    font-size: 0.75rem;
    padding: 40px 0 0;
  }